.rate-trends-container {
    /* Your existing styles for the container */
}
  
.rate-trends-container h2 {
    font-size: 24px;
    font-weight: bold;
}
  
.rateimage-container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
}
  
.rateimage-box {
    margin: 0; /* Remove default margin */
    padding: 50px; /* Remove default padding */
    position: relative; /* Position context for absolute positioning */
}
  
.rateimage-box img {
    width: 200px; /* Set the width of the images */
    height: auto; /* Maintain aspect ratio */
}
  
.rateimage-button {
    position: absolute;
    top: 90%; /* Adjust top position */
    left: 50%; /* Adjust left position */
    transform: translate(-50%, -50%); /* Center the button */
    background-color: #033f80; /* Change button background color */
    color: #fff; /* Change button text color */
    padding: 8px 16px; /* Adjust button padding */
    font-size: 14px; /* Adjust button font size */
    border: none; /* Remove button border */
    border-radius: 4px; /* Add button border radius */
}
.ratetrends-image{
  width: 100%;
  height: 350px;
  object-fit: cover; /* Ensure the image covers the container without distortion */
  object-position: center; /* Center the image within its container */

}
.overlayrate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:49%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  .overlay-text-rate{
    position: absolute; /* Position the text absolutely */
    top: 150px; /* Adjust top position */
    right: 550px; /* Adjust right position */
    color: white; /* Text color */
    font-size: 36px; /* Font size */
    font-weight: bold; /* Font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
  }

 
  
  
