/* header {
  background-color: #fff;
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99999;
}
header img {
  width: 170px;
}
header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
}
header a:hover {
  color: #27ae60;
}
header span {
  width: auto;
  padding: 0px 6px;
  background: #27ae60;
  border-radius: 50px;
  color: #ffffff;
  margin-right: 4px;
  font-weight: 400;
}
header h4 {
  font-weight: 500;
  margin-right: 20px;
}
header .toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header img {
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  header .nav .flex {
    display: none;
  }
  header .toggle {
    display: block;
    margin-top: 20px;
  }
  header .small {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #27ae60;
    padding: 20px;
  }
  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }
} */

.header {
  background-color: rgba(0, 0, 0, .1);
  height: 12vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 99999;
}
.header-scroll{
  width: 100%;
  background-color: rgba(243, 243, 243, 0.923);
  height: 12vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.6rem;
}
.header-scroll .main-menu a {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
}

header a {
  transition: 0.5s;
}

header a:hover {
  color: #1d64b1;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.6rem;
}

.header__middle__logo img {
  width: 9rem;
  padding: 0.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.main-nav {
  display: flex;
  align-items: center;
}

.menubar__button {
  color: white;
  font-size: 1.5rem;
  display: none;
}

.main-menu {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  width: 100%;
  margin-right: 3rem;
}

.main-menu a {
  padding: 0.5rem;
  color: rgb(255, 255, 255);
}

.main-menu a:hover {
  color:#224acd;
}

.sub__menus__arrows {
  position: relative;
}

.sub__menus__arrows a {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}




.sub__menus {
  text-align: left;
  position: absolute;
  font-size: 15px;
  top: 3.5rem;
  width: 12rem;
  /* display: none; 
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.5s, visibility 0.5s;  */
}

.sub__menus a {
  background: white;
  color: black;
}

.sub__menus a:hover {
  color: rgb(0, 88, 146);
}

/* Show submenus on hover */
.sub__menus__arrows:hover .sub__menus {
  display: block;
  visibility: visible; /* Show submenus on hover */
  opacity: 1; /* Set opacity to 1 */
}

.main-menu li:hover .sub__menus {
  display: block;
  visibility: visible;
  opacity: 1;
}
.apply-btn{
  background: rgb(0, 88, 146);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-menu .apply-btn:hover {
  color:#fff;
}

@media (max-width: 520px) {
  .main-menu {
    display: none;
  }

  .menubar__button {
    display: inline-block;
  }
}

