.header {
  background-color: rgba(0, 0, 0, 0.1);
  height: 12vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-scroll {
  background-color: rgba(243, 243, 243, 0.923);
  height: 12vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.6rem;
}

.header-scroll .main-menu a {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
}

header a {
  transition: 0.5s;
}

header a:hover {
  color: #1d64b1;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.6rem;
}

.header__middle__logo img {
  width: 9rem;
  padding: 0.3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

nav .menu {
  display: none;
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-menu {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  width: 100%;
  margin-right: 3rem;
}

.main-menu a {
  padding: 0.5rem;
  color: rgb(255, 255, 255);
}

.main-menu a:hover {
  color: #224acd;
}

.sub__menus__arrows {
  position: relative;
}

.sub__menus__arrows a {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.sub__menus {
  text-align: left;
  position: absolute;
  font-size: 15px;
  top: 3.5rem;
  width: 12rem;
  z-index: 100; /* Increase z-index to ensure it's displayed on top */
}

.sub__menus a {
  background: white;
  color: black;
}

.menu-item {
  position: relative; /* Ensure menu items are positioned relatively */
}
.sub__menus a:hover {
  color: rgb(0, 88, 146);
}

.sub__menus__arrows:hover .sub__menus {
  display: block;
  visibility: visible;
  opacity: 1;
}

.main-menu li:hover .sub__menus {
  display: block;
  visibility: visible;
  opacity: 1;
}

.apply-btn {
  background: rgb(0, 88, 146);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-menu .apply-btn:hover {
  color: #fff;
}

.phone-icon {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.phone-icon:hover {
  color: #224acd;
}

@media (max-width: 980px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
    width: 30%;
    background: #1d64b1;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul .open {
    display: flex;
  }
  nav .main-menu ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li {
    margin: 0.2rem 0.5rem;
  }

  .main-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    margin-top: 100vh; /* Adjust as needed */
    height: 100vh;
    width: 1000px;
    padding: rem;
    z-index: 99;
  }

  .main-menu.open {
    display: flex;
  }

  .main-menu a {
    padding: 1.5rem;
    color: #fff;
    
  }
  .menu-item:hover .sub__menus {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 3.5rem; /* Adjust top position as needed */
  }
  .sub__menus {
    text-align: left;
    position: absolute;
    font-size: 15px;
    width: 12rem;
    background-color: black;
    z-index: 100; /* Increase z-index to ensure it's displayed on top */
  }
  
  .menu-item {
    position: relative; /* Ensure menu items are positioned relatively */
  }
  
  .menu-item:hover .sub__menus {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 3.5rem; /* Adjust top position as needed */
  }
  
  
}
