/* Set margin and padding to 0 for the whole page */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Style the container for the ARM component */
.arm-container {
  text-align: center;
  padding: 20px;
  position: relative; /* Make the container relative for absolute positioning */
}

/* Style the container for the image */
.image-container {
  width: 100%;
  height: 65vh; /* Adjust the height as needed */
  overflow: hidden;
  margin-bottom: 20px;
  position: relative; /* Make the container relative for absolute positioning */
}

/* Style the image */
.arm-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without distortion */
  object-position: center; /* Center the image within its container */
}

/* Style the text overlay */
.overlay-text-arm {
  position: absolute;
  bottom: 10px; /* Adjust this value to move the text vertically */
  right: 10px; /* Adjust this value to move the text horizontally */
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5); /* Add shadow for better visibility */
}
