
.arm h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* CurrentRates.css */
  
  .arm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Set height to 100% of viewport height */
    background-color: white; /* Set background color to white */
  }
 
.arm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically center */
    text-align: center; /* Align text center */
  }
  
  .arm p {
    width: 50%; /* Set the width of paragraph */
  }
  
  .arm p:first-child {
    text-align: left; /* Align first paragraph to left */
  }
  
  .arm p:last-child {
    text-align: right; /* Align last paragraph to right */
  }
  /* Arm.css */

.apply-button {
    margin-top: 20px; /* Add some margin */
    padding: 10px 20px; /* Add padding to make the button larger */
    font-size: 16px; /* Increase font size */
    background-color: #007bff; /* Blue background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
  }
  
  .apply-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  